################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/src/Z.FluentValidator/bin/Debug/netcoreapp3.1
/src/Z.FluentValidator.UnitTest/bin/Debug/netcoreapp3.1
/src/Z.FluentValidator.UnitTest/obj
